[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/gxchain/gxb-fc.git
[submodule "docs"]
	path = docs
	url = https://github.com/gxchain/gxb-core.wiki.git
[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = git@github.com:gxchain/berkeley-softfloat-3.git
